.exploreProduct {
    margin-top: 10%;
}
.products-grid {
    display: grid ;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    gap: 20px;
    margin-top:40px
}
@media (max-width:992px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:700px) {
    .products-grid {
        grid-template-columns: 1fr  1fr;
    }
}
@media (max-width:550px) {
    .products-grid {
        grid-template-columns: 1fr  ;
    }
}