/* ProductCard.css */
.product-card {
  background: white;
  border-radius: 10px;
width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  /* margin-left: 15px; */
  overflow: hidden;
}


.product-image {
  position: relative;
  background: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
width: 100%;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.color-product{
display: flex;
justify-content: flex-start;
}
.color-product .red {
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 15px;
    margin: 10px;
    position: relative;
}
.color-product .green {
    border-radius: 50%;
    background-color: green;
    width: 15px;
    height: 15px;
    margin: 10px;
    position: relative;
}

.color-product .red::after {
    content: '';
    position: absolute;
    top: -3px;             
    left: -3px; ;            
    right: -3px;      
    bottom: -3px;       
    border: 2px solid #ccc;
    border-radius: 50%;
}
.product-card:hover .product-image img {
  transform: scale(1.05);
}

.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff4444;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}


.product-icons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateX(10px);
  transition: all 0.3s ease;
}

.product-card:hover .product-icons {
  opacity: 1;
  transform: translateX(0);
}

.icon-btn {
  background: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon-btn:hover {
  background: #007bff;
  color: white;
  transform: scale(1.1);
}


.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.product-card:hover .add-to-cart-btn {
  transform: translateY(0);
}

.add-to-cart-btn:hover {
  background: #333;
}

/* محتوى الكارد */
.product-content {
  padding: 0 5px;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.3;
  margin-top: 10px;
}


.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.current-price {
  font-size: 18px;
  font-weight: bold;
  color: #ff4444;
}

.original-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}


.rating-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
}

.stars {
  color: #ffc107;
  font-size: 14px;
}

.reviews {
  font-size: 12px;
  color: #666;
}