.login {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.login img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin-left: -13%;
}

.content-login {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    align-items: flex-start;
    height: 100%;
}

.content-login h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
}

.content-login p {
    font-size: 15px;
    margin-bottom: 2rem;
    color: #666666c9;
}

.content-login form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.content-login input {
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}


.content-login input::placeholder {
    color: #999;
}

.content-login .btn {
    width: 100%;
    padding: 1rem;
  
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.content-login .google-btn {
    width: 100%;
    padding: 1rem;
    background-color: white;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    transition: all 0.3s;
}


.content-login .login-link {
    margin-top: 2rem;
    text-align: center;
    color: #666;
    width: 100%;
}

.content-login .login-link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.content-login .login-link a:hover {
    text-decoration: underline;
}

.btn-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}