.categoriesSection {
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
  height: 400px;
}

.container-section {
    flex: 1;
    max-width: 50%;
          padding: 50px;

}


.subTitle-section {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 10px;
    color: #00FF66;
}

.mainTitle-section {
    font-size: 40px;
  
    margin-bottom: 30px;
    line-height: 1.2;
}

.fullTime {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.btn-buy-now a{ 
    background-color: #00FF66;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.fullTime div {
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullTime h4 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.fullTime div span {
    font-size: 12px;
}

.basic-img {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-img img {
    width: 100%;
}

/* للتأكد من responsiveness */
@media (max-width: 768px) {
    .categoriesSection {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }
    
    .container-section,
    .basic-img {
        max-width: 100%;
    }
    
    .mainTitle-section {
        font-size: 36px;
    }
    
    .fullTime {
        justify-content: center;
    }
}