.support {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.support h2{
    font-size:16px ;
    font-weight:600;
}
.support p{
    font-size:14px ;
    color:gray;
}
.icon-support  {
        padding: 6px;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin: 10px;
    border: 4px solid gray;
    width: 50px;
    height: 50px;

}